{% extends 'layouts/base.html' %} 
{% load static %}
{% block span_block %} 

{% endblock span_block %} 
<!-- {{ current_user_email }} -->
{% block body_block %}


    <!-- User Sessions Bounce -->
    

    <div class="row">
      <div class="col-xl-4">
        <!-- User -->
        <div class="card card-default" style="box-shadow:  0px 6px 15px rgba(0, 0, 0, 0.1)">
          <div class="card-header">
            <h2>Total Feedbacks</h2>
          </div>
          <div class="card-body">
            <div
              class="bg-primary d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end"
            >
              <div class="d-flex flex-column">
                <span class="h3 text-white">{{ total_complaints }}</span>
                <!-- <span>vs 275,900 (prev)</span> -->
              </div>
              <!-- <div>
                <span>45%</span>
                <i class="mdi mdi-arrow-up-bold"></i>
              </div> -->
            </div>
            <!-- <div id="line-chart-1"></div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <!-- Session -->
        <div class="card card-default" style="box-shadow:  0px 6px 15px rgba(0, 0, 0, 0.1)">
          <div class="card-header">
            <h2>Unresolved Feedbacks</h2>
          </div>
          <div class="card-body">
            <div
              class="bg-danger d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end"
            >
              <div class="d-flex flex-column">
                <div>
                  <span class="h3 text-white">{{ total_unresolved_complaints }}</span>
                  <!-- <span class="mdi mdi-flag-minus align-items-lg-end"></span> -->
                </div>

              </div>
              <!-- <div>
                <span>55%</span>
                <i class="mdi mdi-arrow-up-bold"></i>
              </div> -->
            </div>
            <!-- <div id="line-chart-2"></div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <!-- Bounce Rate -->
        <div class="card card-default" style="box-shadow:  0px 6px 15px rgba(0, 0, 0, 0.1)">
          <div class="card-header">
            <h2>Resolved Feedbacks</h2>
          </div>
          <div class="card-body">
            <div
              class="bg-success d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end"
            >
              <div class="d-flex flex-column">
                <span class="h3 text-white">{{ total_resolved_complaints }}</span>
                <!-- <span>vs 65.21% (prev)</span> -->
              </div>
              <!-- <div>
                <span>7%</span>
                <i class="mdi mdi-arrow-down-bold"></i>
              </div> -->
            </div>
            <!-- <div id="line-chart-3"></div> -->
          </div>
        </div>
      </div>
    </div>

    

    
{% endblock %}
