{% extends 'layouts/base.html' %} 
{% block span_block %} 
System Shutdown
{% endblock span_block %} 

{% block body_block %}
<!-- Shutdown Button -->
<div class="row">
    <div class="col-xl-4">
        <div
          class="card card-default"
          style="box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1)"
        >
          <div class="card-header">
            <h2 class="text-center">Current Server Time</h2>
          </div>
          <div class="card-body">
            <div
              class="bg-white d-flex justify-content-between flex-wrap p-5 text-warning "
            >
              <div class="d-flex flex-column">
                  <h5> <p>Current Time: {{ current_time|date:"h:i A" }}</p></h5>
              </div>
            </div>
            <!-- <div id="line-chart-1"></div> -->
          </div>
        </div>
      </div>
    <div class="col-xl-4">
      <div
        class="card card-default"
        style="box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1)"
      >
        <div class="card-header">
          <h2 class="text-center">Site Server Settings</h2>
        </div>
        <div class="card-body">
          <div
            class="bg-white d-flex justify-content-between flex-wrap p-5 text-white "
          >
            <div class="d-flex flex-column">
                <form method="POST">
                    {% csrf_token %}
                    {% if system_settings.is_shutdown %}
                        <button type="submit" name="resume" class="btn btn-success">Turn On Server</button>
                    {% else %}
                        <button type="submit" name="shutdown" class="btn btn-danger">Turn Off Server</button>
                    {% endif %}
                </form>
            </div>
          </div>
          <!-- <div id="line-chart-1"></div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div
        class="card card-default"
        style="box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1)"
      >
        <div class="card-header">
          <h2 class="text-center">Shutdown Duration</h2>
        </div>
        <div class="card-body">
          <div
            class="bg-white d-flex justify-content-between flex-wrap p-5 text-black "
          >
            <div class="d-flex flex-column">

                <p>Shutdown Start Time: {{ system_settings.shutdown_start_time|date:"h:i A" }}</p>
                <p>Shutdown End Time: {{ system_settings.shutdown_end_time|date:"h:i A" }}</p>
               
            </div>
          </div>
          <!-- <div id="line-chart-1"></div> -->
        </div>
      </div>
    </div>

</div>


{% endblock %} 
